<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.MenuMapper">


    <resultMap id="m1" type="com.baizhi.entity.Menu">
        <id column="fid" property="id"></id>
        <result column="ftitle" property="title"></result>
        <result column="ficoncls" property="iconcls"></result>
        <result column="furl" property="url"></result>
        <result column="fparent_id" property="parent_id"></result>
        <collection property="menuList" ofType="com.baizhi.entity.Menu">
            <id column="sid" property="id"></id>
            <result column="stitle" property="title"></result>
            <result column="siconcls" property="iconcls"></result>
            <result column="surl" property="url"></result>
            <result column="sparent_id" property="parent_id"></result>
        </collection>
    </resultMap>
    <select id="queryAll" resultMap="m1">
      select f.id fid,f.title ftitle,f.iconcls ficoncls,f.url furl,f.parent_id fparent_id,
             s.id sid,s.title stitle,s.iconcls siconcls,s.url surl,s.parent_id sparent_id
      from menu f left join menu s
      on f.id=s.parent_id
    </select>
</mapper>
